/ClassLambda$InnerClass$1.class
/ClassLambda$InnerClass.class
/ClassLambda.class
/ClassLambda2$InnerClass.class
/ClassLambda2.class
/ClassLambda2Ex1.class
/ClassLambdaEx1.class
/FuntionInterfaceEx1.class
/LambdaEx1.class
/LambdaEx2$1.class
/LambdaEx2.class
/LambdaEx3.class
/MyFunctionIneterface.class
